<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sec.supernatural.backend_coin.data.EntityMapper">
    <insert id="addEntity" parameterType="com.sec.supernatural.backend_coin.po.Entity">
        insert into Entity(name,picId)
        values(#{name},#{picId})
    </insert>
    <delete id="deleteEntity">
        delete from Entity where name=#{name} and picId=#{picId}
    </delete>
    <update id="changeEntity">
        update Entity set name=#{newName} where picId=#{picId} and name=#{oldName}
    </update>
    <select id="getEntity" resultMap="Entity">
        select * from Entity where picId=#{picId} and name=#{name}
    </select>

    <resultMap id="Entity" type="com.sec.supernatural.backend_coin.po.Entity">
        <result column="name" property="name"></result>
        <result column="picId" property="picId"></result>
    </resultMap>
</mapper>
