<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sec.supernatural.backend_coin.data.GraphMapper">
    <insert id="addRelation" parameterType="com.sec.supernatural.backend_coin.po.Link"
            useGeneratedKeys="true" keyProperty="id">
        insert into Link(name,picId,source,target,type)
        values(#{name},#{picId},#{source},#{target},#{type})
    </insert>
    <delete id="deleteRelation" parameterType="com.sec.supernatural.backend_coin.po.Link">
        delete from Link
        where picId=#{picId} and source=#{source} and target=#{target} and name=#{name}
    </delete>
    <select id="getRelationsByNodesAndName" resultMap="com.sec.supernatural.backend_coin.po.Link">
        select * from Link where picId=#{picId} and source=#{source} and target=#{target} and name=#{name}
    </select>
    <select id="getRelationsBySource" resultMap="com.sec.supernatural.backend_coin.po.Link" parameterMap="com.sec.supernatural.backend_coin.po.Node">
        select * from Link where picId=#{picId} and source=#{name}
    </select>
    <select id="getRelationsByNode" resultMap="com.sec.supernatural.backend_coin.po.Link" parameterMap="com.sec.supernatural.backend_coin.po.Node">
        select * from Link where picId=#{picId} and source=#{name}
        union
        select * from Link where picId=#{picId} and target=#{name}
    </select>
    <update id="changeRelationNameAndType" parameterType="com.sec.supernatural.backend_coin.vo.ChangeRelationVO">
        update Link set name=#{newName} and type=#{newType}
        where picId=#{picId} and source=#{source} and target=#{target} and name=#{oldName}
    </update>
    <update id="changeRelationName">
        update Link set name=#{newName}
        where picId=#{picId} and source=#{source} and target=#{target} and name=#{name}
    </update>
    <update id="changeRelationType">
        update Link set type=#{newType}
        where picId=#{picId} and source=#{source} and target=#{target} and name=#{name}
    </update>


    <resultMap id="Link" type="com.sec.supernatural.backend_coin.po.Link">

        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="source" property="source"></result>
        <result column="target" property="target"></result>
        <result column="type" property="type"></result>
        <result column="pidId" property="picId"></result>
    </resultMap>
</mapper>
