<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sec.supernatural.backend_coin.data.PicUnitMapper">
    <insert id="addPicUnit" parameterType="com.sec.supernatural.backend_coin.po.PicUnit"  useGeneratedKeys="true" keyProperty="picUnitId">
        insert into PicUnit(userId,picId,unitName,url)
        values(#{userId},#{picId},#{unitName},#{url})
    </insert>

    <select id="findByPicId" resultMap="PicUnit">
        select * from PicUnit where picId=#{picId}
    </select>

<!--    <update id="updateUnitName">-->
<!--        update PicUnit set unitName=#{unitName}-->
<!--        where picId=#{picId} and url=#{url}-->
<!--    </update>-->

    <resultMap id="PicUnit" type="com.sec.supernatural.backend_coin.po.PicUnit">
        <id column="picUnitId" property="picUnitId"></id>
        <result column="picId" property="picId"></result>
        <result column="userId" property="userId"></result>
        <result column="unitName" property="unitName"></result>
        <result column="url" property="url"></result>
    </resultMap>
</mapper>